.navbar{
    background-color: #fff !important;
    /* border: none !important; */
    padding-top: 10px;
}
.navbar-right li a{
    color: black !important;
    font-size: 13px;
}
.navbar-right li a:hover{
    text-decoration: underline !important;
}
.navbar-right li .btn{
    background-color: #3A86FF;
    color: #fff !important;
    font-weight: bolder;
    font-size: 10px;
}